anthropic==0.37.1
beautifulsoup4==4.12.3
boto3==1.35.48
botocore==1.35.48
chromadb==0.4.24
cohere==5.11.1
duckduckgo_search==6.3.2
fireworks-ai==0.15.7
groq==0.11.0
huggingface-hub==0.26.1
jinja2==3.1.4
langchain==0.3.4
langchain-anthropic==0.2.3
langchain-cohere==0.3.1
langchain-community==0.3.3
langchain-core==0.3.12
langchain-experimental==0.3.2
langchain-fireworks==0.2.1
langchain-google-vertexai==2.0.5
langchain-groq==0.2.0
langchain-mistralai==0.2.0
langchain-nvidia-ai-endpoints==0.3.1
langchain-openai==0.2.3
langgraph==0.2.39
langgraph-checkpoint==2.0.2
langgraph-checkpoint-sqlite==2.0.1
neo4j==5.25.0
numpy==1.26.4
openai==1.52.2
pandas==2.2.3
pillow==10.4.0
playwright==1.42.0
playwright-stealth==1.0.6
py2neo==2024.1.0
pydantic==2.9.2
PyPDF2==3.0.1
python-dotenv==1.0.1
requests==2.32.3
streamlit==1.39.0
tqdm==4.66.5
watchtower==3.0.1
tokenizers==0.20.1
transformers==4.46.0
playwright_stealth
tenacity